@font-face {
  font-family: 'Netflix Sans';
  font-weight: 100;
  font-display: optional;
  src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Th.woff2) format("woff2"), url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Th.woff) format("woff");
}

@font-face {
  font-family: 'Netflix Sans';
  font-weight: 300;
  font-display: optional;
  src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Lt.woff2) format("woff2"), url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Lt.woff) format("woff");
}

@font-face {
  font-family: 'Netflix Sans';
  font-weight: 400;
  font-display: optional;
  src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff2) format("woff2"), url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff) format("woff");
}

@font-face {
  font-family: 'Netflix Sans';
  font-weight: 700;
  font-display: optional;
  src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Md.woff2) format("woff2"), url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Md.woff) format("woff");
}

@font-face {
  font-family: 'Netflix Sans';
  font-weight: 800;
  font-display: optional;
  src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Bd.woff2) format("woff2"), url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Bd.woff) format("woff");
}

@font-face {
  font-family: 'Netflix Sans';
  font-weight: 900;
  font-display: optional;
  src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Blk.woff2) format("woff2"), url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Blk.woff) format("woff");
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes afterCarroussel {
  0% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes afterCarroussel {
  0% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Netflix Sans', sans-serif;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

body {
  background-color: #141414;
  position: relative;
}

main {
  width: 100%;
}

#headerMenu {
  width: 100%;
  height: 7vh;
  background-color: #141414;
  position: fixed;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 60px;
  -webkit-transition: background .6s ease-in-out;
  transition: background .6s ease-in-out;
}

#headerMenu .dropMenu {
  position: fixed;
  right: 2rem;
  top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .5rem;
}

#headerMenu .dropMenu .line1,
#headerMenu .dropMenu .line2,
#headerMenu .dropMenu .line3 {
  width: 10px;
  height: 10px;
  background-color: #E54914;
  border-radius: 100%;
}

@media (max-width: 576px) {
  #headerMenu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1rem;
    height: 13vh;
    z-index: 1;
  }
}

#headerMenu .mapWeb {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 4rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (max-width: 576px) {
  #headerMenu .mapWeb {
    gap: 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#headerMenu .mapWeb #brandLogo {
  width: 9.6%;
}

@media (max-width: 576px) {
  #headerMenu .mapWeb #brandLogo {
    position: fixed;
    top: 2rem;
    left: 2rem;
    width: 40vw;
  }
}

@media (max-width: 576px) {
  #headerMenu .mapWeb #menu {
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
  }
}

#headerMenu .mapWeb #menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1.5rem;
}

@media (max-width: 576px) {
  #headerMenu .mapWeb #menu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#headerMenu .mapWeb #menu ul a {
  text-decoration: none;
}

#headerMenu .mapWeb #menu ul a li {
  font-size: 14px;
  font-weight: 300;
  list-style: none;
  color: #F5F5F1;
  -webkit-transition: color .3s;
  transition: color .3s;
}

@media (max-width: 576px) {
  #headerMenu .mapWeb #menu ul a li {
    font-size: 20px;
  }
}

#headerMenu .mapWeb #menu ul a li:hover {
  color: #aaaaaa;
}

#headerMenu .accountInfo {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 1.5rem;
}

@media (max-width: 576px) {
  #headerMenu .accountInfo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 2rem;
    -webkit-transform: translateX(150vw);
            transform: translateX(150vw);
  }
}

#headerMenu .accountInfo #search {
  width: 2%;
}

@media (max-width: 576px) {
  #headerMenu .accountInfo #search {
    width: 10vw;
  }
}

#headerMenu .accountInfo a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
  color: #F5F5F1;
  -webkit-transition: color .3s;
  transition: color .3s;
}

#headerMenu .accountInfo a:hover {
  color: #aaaaaa;
}

@media (max-width: 576px) {
  #headerMenu .accountInfo a {
    font-size: 20px;
  }
}

#headerMenu .accountInfo #notification {
  width: 3.5%;
}

@media (max-width: 576px) {
  #headerMenu .accountInfo #notification {
    width: 10vw;
  }
}

#headerMenu .accountInfo #profile {
  width: 4%;
  border-radius: 1px;
}

@media (max-width: 576px) {
  #headerMenu .accountInfo #profile {
    width: 20vw;
  }
}

#headerMenu .accountInfo #arrowAccount {
  width: 1.5%;
}

@media (max-width: 576px) {
  #headerMenu .accountInfo #arrowAccount {
    width: 8vw;
  }
}

.btnPoster {
  position: absolute;
  bottom: 25%;
  left: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
}

@media (max-width: 576px) {
  .btnPoster {
    bottom: 22%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#watchBtn,
#moreInfoBtn {
  height: 4vh;
  width: 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
  font-size: 24px;
  border: none;
  border-radius: 3px;
  padding: .5rem 1.5rem;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  cursor: pointer;
}

#watchBtn:hover,
#moreInfoBtn:hover {
  opacity: .7;
}

@media (max-width: 576px) {
  #watchBtn,
  #moreInfoBtn {
    font-size: 16px;
    width: 40vw;
  }
}

#watchBtn {
  background: white;
}

#watchBtn img {
  height: 100%;
}

#moreInfoBtn {
  background: #6D6D6EB3;
  color: #F5F5F1;
}

#moreInfoBtn img {
  height: 80%;
}

.btnCards {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: .5rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 1rem;
  position: absolute;
  bottom: 2rem;
  display: none;
}

.btnCards .playCard,
.btnCards .moreBtn {
  width: 10%;
  border-radius: 100%;
}

.btnCards .playCard img,
.btnCards .moreBtn img {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: .5rem;
}

.btnCards .moreBtn,
.btnCards .likeBtn {
  border: 1px solid #F5F5F1;
  background: transparent;
}

.btnCards .likeBtn {
  width: 10%;
  border-radius: 100%;
  overflow: hidden;
}

.btnCards .likeBtn div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.btnCards .likeBtn div img {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  padding: .5rem;
}

#poster {
  position: relative;
  height: 90vh;
}

#poster #titlePoster {
  color: #F5F5F1;
  width: 40%;
  font-size: 90px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 5%;
  position: absolute;
}

@media (max-width: 576px) {
  #poster #titlePoster {
    font-size: 45px;
    width: 70%;
  }
}

#poster #posterIMG {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#poster #ageDescription {
  position: absolute;
  width: 7%;
  height: 5%;
  bottom: 25%;
  right: 0;
  background: rgba(48, 48, 48, 0.51);
  border-left: 3px solid #F5F5F1;
  border-radius: 2px 2px;
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@media (max-width: 576px) {
  #poster #ageDescription {
    width: 30%;
  }
}

#poster #ageDescription #age {
  height: 100%;
  margin-left: 10%;
}

.moviesCarrossel {
  margin-top: 1rem;
  margin-bottom: 2rem;
  position: relative;
  display: none;
  top: -12rem;
  -webkit-animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@media (max-width: 576px) {
  .moviesCarrossel {
    height: 20vh;
    margin-top: 5rem;
  }
}

.moviesCarrossel #legendAlta {
  padding-left: 60px;
  width: 100%;
  color: #F5F5F1;
  font-size: 30px;
  cursor: pointer;
}

@media (max-width: 576px) {
  .moviesCarrossel #legendAlta {
    padding-left: 1rem;
  }
}

.moviesCarrossel #legendAlta:after {
  position: relative;
  right: 4rem;
  opacity: 0;
  margin-left: .5rem;
  font-size: 20px;
  content: ">";
  cursor: pointer;
  -webkit-transition: right 0.3s 0.3s ease-in-out;
  transition: right 0.3s 0.3s ease-in-out;
}

.moviesCarrossel #legendAlta:hover::after {
  right: 0;
  opacity: 1;
}

.moviesCarrossel #legendAlta #legendSpan:after {
  position: relative;
  right: 1rem;
  opacity: 0;
  margin-left: .5rem;
  font-size: 13px;
  content: "Ver tudo";
  cursor: pointer;
  -webkit-transition: all 0.3s 0.3s ease-in-out;
  transition: all 0.3s 0.3s ease-in-out;
}

.moviesCarrossel #legendAlta #legendSpan:hover::after {
  right: 0;
  opacity: 1;
}

.moviesCarrossel #legendAlta:hover #legendSpan::after {
  right: 0;
  opacity: 1;
}

.moviesCarrossel #sectionCard {
  width: 100%;
  height: 100%;
  padding-left: 60px;
  padding-top: 1rem;
  position: relative;
}

@media (max-width: 576px) {
  .moviesCarrossel #sectionCard {
    padding-left: 1rem;
  }
}

.moviesCarrossel #sectionCard .arrowLeft,
.moviesCarrossel #sectionCard .arrowRight {
  position: absolute;
  width: 3.7%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 576px) {
  .moviesCarrossel #sectionCard .arrowLeft,
  .moviesCarrossel #sectionCard .arrowRight {
    width: 25vw;
    z-index: 10;
  }
}

.moviesCarrossel #sectionCard .arrowLeft img,
.moviesCarrossel #sectionCard .arrowRight img {
  height: 15%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 576px) {
  .moviesCarrossel #sectionCard .arrowLeft img,
  .moviesCarrossel #sectionCard .arrowRight img {
    width: 10vw;
  }
}

.moviesCarrossel #sectionCard .arrowLeft:hover,
.moviesCarrossel #sectionCard .arrowRight:hover {
  background: rgba(0, 0, 0, 0.406);
}

.moviesCarrossel #sectionCard .arrowLeft {
  left: 0;
  display: none;
}

.moviesCarrossel #sectionCard .arrowRight {
  right: 60px;
}

@media (max-width: 576px) {
  .moviesCarrossel #sectionCard .arrowRight {
    right: 0;
  }
}

.moviesCarrossel #sectionCard .carrossel {
  width: 500%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: .8rem;
  -webkit-transition: all 3s ease-in-out;
  transition: all 3s ease-in-out;
}

.moviesCarrossel #sectionCard .carrossel .card {
  position: relative;
  width: 3%;
  height: 100%;
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}

@media (max-width: 576px) {
  .moviesCarrossel #sectionCard .carrossel .card {
    width: 20%;
  }
}

.moviesCarrossel #sectionCard .carrossel .card img {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}

.moviesCarrossel #sectionCard .carrossel .card .nameFilm {
  font-size: 20px;
  position: absolute;
  top: 40%;
  left: 1rem;
  color: #F5F5F1;
  display: none;
}

.moviesCarrossel #sectionCard .carrossel .card:hover {
  z-index: 2;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.moviesCarrossel #sectionCard .carrossel .card:hover .btnCards,
.moviesCarrossel #sectionCard .carrossel .card:hover .nameFilm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=main.css.map */