//BRAND COLORS

$primary_color: #E54914;
$Thre_color: #B81D24;
$White_brand: #F5F5F1;
$background: #141414;
$hoverMenu: #aaaaaa;
$ageDescription: rgba(48, 48, 48, 0.51);
$infoBtn: #6D6D6EB3;
$whiteBtn: white;