.btnPoster {
  position: absolute;
  bottom: 25%;
  left: 5%;
  @include flex (row);
  gap: 1rem;

  @include Vsm {
    bottom: 22%;
    flex-direction: column;
  }
}

#watchBtn,
#moreInfoBtn {
  height: 4vh;
  width: 10vw;
  @include flex (row);
  gap: 1rem;
  font-size: 24px;
  border: none;
  border-radius: 3px;
  padding: .5rem 1.5rem;
  box-sizing: inherit;
  cursor: pointer;



  &:hover {
    opacity: .7;
  }

  @include Vsm {
    font-size: 16px;
    width: 40vw;
  }
}

#watchBtn {

  background: $whiteBtn;

  img {
    height: 100%;
  }
}

#moreInfoBtn {
  background: $infoBtn;
  color: $White_brand;

  img {
    height: 80%;
  }
}

.btnCards {
  width: 100%;
  @include flex (row);
  gap: .5rem;
  justify-content: flex-start;
  padding-left: 1rem;
  position: absolute;
  bottom: 2rem;
  display: none;


  .playCard,
  .moreBtn {
    border: 1px solid $White_brand;
    width: 10%;
    border-radius: 100%;

    img {
      box-sizing: border-box;
      @include flex (column);
      padding: .5rem;
    }
  }

  .moreBtn,
  .likeBtn {
    border: 1px solid $White_brand;
    background: transparent;
  }

  .likeBtn {
    width: 10%;
    border-radius: 100%;
    overflow: hidden;

    div {
      @include flex (row);

      img {
        box-sizing: border-box;
        display: block;
        padding: .5rem;
      }
    }
  }
}