.btnPoster {
  position: absolute;
  bottom: 25%;
  left: 5%;
  @include flex (row);
  gap: 1rem;

  @include lg {
    flex-direction: column;
  }

  @include Vsm {
    bottom: 22%;
    
  }
}

#watchBtn,
#moreInfoBtn {
  height: 4vh;
  width: 10vw;
  @include flex (row);
  gap: 1rem;
  font-size: 24px;
  border: none;
  border-radius: 3px;
  padding: .5rem 1.5rem;
  box-sizing: inherit;
  cursor: pointer;



  &:hover {
    opacity: .7;
  }

  @include Vxl {
    font-size: 16px;
  }

  @include lg {
    width:30vw;
  }

  @include Vsm {
   
    width: 40vw;
  }

  @include sm {
 
    width: 35vw;
  }
}

#watchBtn {

  background: $whiteBtn;

  img {
    height: 100%;
  }
}

#moreInfoBtn {
  background: $infoBtn;
  color: $White_brand;

  img {
    height: 80%;
  }
}

.btnCards {
  width: 100%;
  @include flex (row);
  gap: .5rem;
  justify-content: flex-start;
  padding-left: 1rem;
  position: absolute;
  bottom: 2rem;
  display: none;





  .playCard,
  .moreBtn {
    border: 1px solid $White_brand;
    width: 10%;
    border-radius: 100%;

    @include Vsm {
     width: 18%;
    }
    img {
      box-sizing: border-box;
      @include flex (column);
      padding: .5rem;

      @include Vsm {
        padding: .2rem;
      }
    }
  }

  .moreBtn,
  .likeBtn {
    border: 1px solid $White_brand;
    background: transparent;
    transition: background .5s;

    &:hover{
      background:$infoBtn
    }
  }

  .likeBtn {
    width: 10%;
    border-radius: 100%;
    overflow: hidden;

    @include Vsm {
     width: 18%;
    }



      img {
        box-sizing: border-box;
        display: block;
        padding: .3rem;

        @include Vsm {
          padding: .2rem;
        }
      }
    }
  }
