.moviesCarrossel {

  margin-top: 1rem;
  margin-bottom: 2rem;
  position: relative;

  top: -12rem;
  animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

  @include Vsm {
    height: 20vh;
    margin-top: 5rem;
  }

  
  @include sm {
    margin-top:8rem;
    }

    @media (max-width:300px) {
      margin-top: 10rem;
    }

  #legendAlta {
    padding-left: 60px;
    width: 100%;
    color: $White_brand;
    font-size: 30px;
    cursor: pointer;

    @include Vsm {
      padding-left: 1rem;
    }

    @include sm {
    margin-left: 70px;
    }

    &:after {
      position: relative;
      right: 4rem;
      opacity: 0;
      margin-left: .5rem;
      font-size: 20px;
      content: ">";
      cursor: pointer;
      transition: right 0.3s 0.3s ease-in-out;
    }

    &:hover {
      &::after {
        right: 0;
        opacity: 1;
      }
    }


    #legendSpan {

      &:after {
        position: relative;
        right: 1rem;
        opacity: 0;
        margin-left: .5rem;
        font-size: 13px;
        content: "Ver tudo";
        cursor: pointer;
        transition: all 0.3s 0.3s ease-in-out;
      }

      &:hover {
        &::after {
          right: 0;
          opacity: 1;
        }
      }
    }

    &:hover {
      #legendSpan {
        &::after {
          right: 0;
          opacity: 1;
        }
      }
    }

  }

  #sectionCard {
    width: 100%;
    height: 100%;
    padding-left: 60px;
    padding-top: 1rem;
    position: relative;

    @include Vsm {
      padding-left: 1rem;
    }



    .arrowLeft,
    .arrowRight {
      position: absolute;
      width: 3.7%;
      height: 100%;
      z-index: 1;
      @include flex (row);
      border-radius: 5px;
      cursor: pointer;

      @include Vsm {
        width: 25vw;
        z-index: 10;
      }


      img {
        height: 15%;
        object-fit: cover;

        @include Vsm {
          width: 10vw;
        }
      }

      &:hover {
        background: $btnCarro
      }
    }

    .arrowLeft {
      left: 0;
      display: none;
    }

    .arrowRight {
      right: 60px;

      @include Vsm {
        right: 0;
      }
    }



    .carrossel {
      width: 9515px;
      height: 100%;
      border-right: 2px solid $White_brand;
      @include flex (row);
      justify-content: flex-start;
      gap: 1rem;
      transition: all 3s ease-in-out;

      @include Vsm { gap:.5rem;
      margin-left: 100px;
      }
      @media (max-width:300px) {
       margin-left: 70px;
      }

      .card {
        position: relative;
        width: 250px;
        height: 200px;

        @include Vsm {
          width: 20%;
        }

        @include sm {
          width: 45vw;
        }

        @media (max-width:300px) {
          padding-top: 4rem;
        }
 
        transition: transform 1s ease-in-out,
        width 1s ease-in-out;

        img {
          height: 100%;
          width: 100%;
          border-radius: 5px;
          object-fit: cover;
        }

        .nameFilm {
          font-size: 20px;
          position: absolute;
          top: 40%;
          left: 1rem;
          color: $White_brand;
          display: none;
        }

        &:hover {
          z-index: 2;
          transform: scale(1.2);


          .btnCards,
          .nameFilm {
            display: flex;
          }
        }
      }
    }
  }
}