#headerMenu {
  width: 100%;
  height: 7vh;
  background-color: $background;
  position: fixed;
  z-index: 100;
  @include flex (row);
  box-sizing: border-box;
  padding: 0 60px;
  transition: background .6s ease-in-out;

  .dropMenu {
    position: fixed;
    right: 2rem;
    top: 2rem;
    @include flex (column);
    gap: .5rem;

    .line1,
    .line2,
    .line3 {
      width: 10px;
      height: 10px;
      background-color: $primary_color;
      border-radius: 100%;
    }
  }


  @include Vsm {
    flex-direction: column;
    padding: 1rem;
    height: 13vh;
    z-index: 1;

  }

  .mapWeb {
    width: 50%;
    @include flex (row);
    gap: 4rem;
    justify-content: flex-start;

    @include Vsm {
      gap: 1rem;
      flex-direction: column;
    }

    #brandLogo {
      width: 9.6%;

      @include Vsm {
        position: fixed;
        top: 2rem;
        left: 2rem;
        width: 40vw;
      }
    }

    #menu {

      @include Vsm {
        transform: translateX(100vw)
      }


      ul {
        @include flex (row);
        gap: 1.5rem;

        @include Vsm {
          flex-direction: column
        }

        a {
          text-decoration: none;

          li {
            font-size: 14px;
            font-weight: 300;
            list-style: none;
            color: $White_brand;
            transition: color .3s;

            @include Vsm {
              font-size: 20px;
            }

            &:hover {
              color: $hoverMenu;
            }
          }
        }
      }
    }
  }

  .accountInfo {
    width: 50%;

    @include flex (row);
    justify-content: flex-end;
    gap: 1.5rem;

    @include Vsm {
      flex-direction: column;
      justify-content: center;
      margin-top: 2rem;
      transform: translateX(150vw)
    }


    #search {
      width: 2%;

      @include Vsm {
        width: 10vw;
      }
    }

    a {
      text-decoration: none;
      font-size: 14px;
      font-weight: 300;
      color: $White_brand;

      transition: color .3s;

      &:hover {
        color: $hoverMenu;
      }


      @include Vsm {
        font-size: 20px;
      }
    }

    #notification {
      width: 3.5%;


      @include Vsm {
        width: 10vw;
      }
    }

    #profile {
      width: 4%;
      border-radius: 1px;

      @include Vsm {
        width: 20vw;
      }
    }

    #arrowAccount {
      width: 1.5%;


      @include Vsm {
        width: 8vw;
      }
    }
  }
}