#poster {
  position: relative;
  height: 90vh;

  #titlePoster {
    color: $White_brand;
    width: 40%;
    font-size: 90px;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
    position: absolute;

    @include Vsm {
      font-size: 45px;
      width: 70%;
    }

    @include sm {
      font-size: 60px;
      top: 40%;
    }

    @media (max-width:300px) {
      font-size: 40px;
    }
  }

  #posterIMG {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  #ageDescription {
    position: absolute;
    width: 7%;
    height: 5%;
    bottom: 25%;
    right: 0;
    background: $ageDescription;
    border-left: 3px solid $White_brand;
    border-radius: 2px 2px;
    animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

    @include Vsm {
      width: 30%
    }

    @include sm {
      width: 25%;
    }

    #age {
      height: 100%;
      margin-left: 10%;
    }
  }

}